@font-face {
    font-family: 'NSMMarket';
    src: url('../../assets/nsm_fonts_20/NSM-Market/NSM_Market.eot'); /* IE9 Compat Modes */
    src: url('../../assets/nsm_fonts_20/NSM-Market/NSM_Market.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../assets/nsm_fonts_20/NSM-Market/NSM_Market.woff') format('woff'), /* Modern Browsers */
         url('../../assets/nsm_fonts_20/NSM-Market/NSM_Market.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../assets/nsm_fonts_20/NSM-Market/NSM_Market.svg') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'NSMFoodie';
    src: url('../../assets/nsm_fonts_20/NSMFoodieWebfonts/NSMFoodie.eot'); /* IE9 Compat Modes */
    src: url('../../assets/nsm_fonts_20/NSMFoodieWebfonts/NSMFoodie.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('../../assets/nsm_fonts_20/NSMFoodieWebfonts/NSMFoodie.woff') format('woff'), /* Modern Browsers */
         url('../../assets/nsm_fonts_20/NSMFoodieWebfonts/NSMFoodie.ttf') format('truetype'), /* Safari, Android, iOS */
         url('../../assets/nsm_fonts_20/NSMFoodieWebfonts/NSMFoodie.svg#NSMFoodie-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}
@font-face {
    font-family: 'Brandon Grotesque Regular';
    src: url('../../assets/nsm_fonts_20/BrandonGrotesqueComplete/HVDFonts-BrandonGrotesque-Regular.otf');
}
