<form class="">
        <div class="form-row col-12 bow_margin_styles_table">
           <div class="form-group col-sm-6 col-md-6 col-lg-4 col-xl-4 col-6">
              <div>Order ID</div>
              <div>{{viewDetails.fullOrder5DigitID}}</div>
           </div>
           <div class="form-group col-sm-6 col-md-6 col-lg-4 col-xl-4 col-6">
              <div>Order Date</div>
              <div>{{viewDetails.orderLet[0].modifiedDate | date: "dd-MMM-yyyy H:mm"}}</div>
           </div>
           <div class="form-group col-sm-6 col-md-6 col-lg-4 col-xl-4 col-6">
              <div>Order Value<span class="bow_exclTaxes">(Excl. Taxes)</span></div>
              <div>{{viewDetails.amount}}</div>
           </div>
           <div class="form-group col-sm-6 col-md-6 col-lg-4 col-xl-4 col-6">
              <div>Order Type</div>
              <div>{{viewDetails.orderType}} <span *ngIf="viewDetails.orderType == 'Delivery'"><img
                 src="../../assets/info.svg" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="{{dineraddress}}"
                 /></span></div>
           </div>
           <div class="form-group col-sm-6 col-md-6 col-lg-4 col-xl-4 col-6">
              <div>Order Status</div>
              <div>{{viewDetails.status}}</div>
           </div>
        </div>
        <div>
           <table class="col-12 table table-striped table-borderless">
              <thead class="thead-light">
                 <tr>
                    <th>Item Name</th>
                    <th>Qty</th>
                    <th>Status</th>
                    <th class="text-right">Price<span >(Excl. Taxes)</span></th>
                 </tr>
              </thead>
              <tbody>
                 <tr *ngFor="let item of uniqueJmOrderLet">
                    <td class="align-middle">{{item.itemName}}</td>
                    <td class="align-middle">{{item.quantity}}</td>
                    <td class="align-middle">{{item.status}}</td>
                    <td class="align-middle text-right">{{item.itemPrice * item.quantity}}</td>
                 </tr>
              </tbody>
           </table>
        </div>
     </form>