body {
background:#f8f8f8;
}
.navbar {
	background:#3e5375;
}
.navbar-inverse .navbar-nav > li > a {
	color: #fff;
}
.navbar-inverse .navbar-nav > li > a:hover {
	color: #4da6ff;
}
.navbar-inverse .navbar-nav > .active > a, .navbar-inverse .navbar-nav > .active > a:hover, .navbar-inverse .navbar-nav > .active > a:focus {
	background-color: inherit;
	color: #fff;
}
@media(min-width:768px) {
 body {
 margin-top: 50px;
}
}
#wrapper {
	padding-left: 0;
}
#page-wrapper {
	width: 100%;
	padding: 0;
	background-color: #fff;
}
.huge {
	font-size: 50px;
	line-height: normal;
}
 @media(min-width:768px) {
 #wrapper {
 padding-left: 225px;
}
 #page-wrapper {
 padding: 10px;
}
}
/* Top Navigation */

.top-nav {
	padding: 0 15px;
}
.top-nav>li {
	display: inline-block;
	float: left;
}
.top-nav>li>a {
	padding-top: 15px;
	padding-bottom: 15px;
	line-height: 20px;
	color: #fff;
}
.top-nav>li>a:hover, .top-nav>li>a:focus, .top-nav>.open>a, .top-nav>.open>a:hover, .top-nav>.open>a:focus {
	color: #fff;
	background:inherit;
}
.top-nav>.open>.dropdown-menu {
	float: left;
	position: absolute;
	margin-top: 0;
	border: 1px solid rgba(0, 0, 0, .15);
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	background-color: #fff;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
}
.top-nav>.open>.dropdown-menu>li>a {
	white-space: normal;
}
ul.message-dropdown {
	padding: 0;
	max-height: 250px;
	overflow-x: hidden;
	overflow-y: auto;
}
li.message-preview {
	width: 275px;
	border-bottom: 1px solid rgba(0, 0, 0, .15);
}
li.message-preview>a {
	padding-top: 15px;
	padding-bottom: 15px;
}
li.message-footer {
	margin: 5px 0;
}
ul.alert-dropdown {
	width: 200px;
}

/* Side Navigation */

@media(min-width:768px) {

 .side-nav {
 border: none;
 border-radius: 0;
 overflow-y: auto;
 background-color: #fff;
 text-align:center;
/* box-shadow:0 0 10px 0 rgba(0, 0, 0, 0.2);*/

width: 180px;
}
 .side-nav li {
 width:100%;
}
 .side-nav>li>a {
 background:#dddddd;
 margin:5px;
 color:#444444;
 font-weight:500;
 font-size: 15px;
}
 .side-nav li a:hover, .side-nav li a:focus {
 outline: none;
}
}
.side-nav>li>ul {
	padding: 0;
}
.side-nav>li>ul>li>a {
	display: block;
	padding: 10px 15px 10px 38px;
	text-decoration: none;
	color: #999;
}
.side-nav>li>ul>li>a:hover {
	color: #fff;
}
/* Flot Chart Containers */

.flot-chart {
	display: block;
	height: 400px;
}
.flot-chart-content {
	width: 100%;
	height: 100%;
}
/* Custom Colored Panels */

.huge {
	font-size: 40px;
}
.panel-green {
	border-color: #5cb85c;
}
.panel-green .panel-heading {
	border-color: #5cb85c;
	color: #fff;
	background-color: #5cb85c;
}
.panel-green a {
	color: #5cb85c;
}
.panel-green a:hover {
	color: #3d8b3d;
}
.panel-red {
	border-color: #d9534f;
}
.panel-red .panel-heading {
	border-color: #d9534f;
	color: #fff;
	background-color: #d9534f;
}
.panel-red a {
	color: #d9534f;
}
.panel-red a:hover {
	color: #b52b27;
}
.panel-yellow {
	border-color: #f0ad4e;
}
.panel-yellow .panel-heading {
	border-color: #f0ad4e;
	color: #fff;
	background-color: #f0ad4e;
}
.panel-yellow a {
	color: #f0ad4e;
}
.panel-yellow a:hover {
	color: #df8a13;
}
.nav > li > a > img {
	margin: 0 auto;
	max-width: none;
}
li.user-info a, li.user-info a:hover {
	background:none;
}
.user-media i {
	display:block;
	color:#797979;
	margin-bottom:10px;
}
.side-nav {
	background:#f8f8f8;
}
.user-name {
	font-size:14px;
	color:#555;
	font-weight:bold;margin-top:10px;
	text-align:left;
}
.profession {text-align:left;color:#555;font-size:12px;}
.page-body {
	padding: 18px 20px 24px;
}
.dashboard-box {
	background-color: #fff;
	margin-bottom: 30px;
	padding:20px 20px;
}
.gray {
	background-color:#eeeeee;
}
.gray-border {
	border:1px solid #797979;
}
input[type="radio"], input[type="checkbox"] {
	line-height: normal;
	margin: 4px 0 0;
	width:auto;
}
textarea {
	resize: vertical;
}
.form-control {
	border-radius:0;
	border:1px solid #707070;
	box-shadow:0px 0px 5px #ddd inset;
}
.form-control:focus {
	border-color: #66afe9;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 1px rgba(102, 175, 233, 0.6);
	outline: 0 none;
}
footer {
	background:#eeeeee;
	padding:10px 0;
	text-align:center;
	color:#777;
}
.gutter {
	padding:10px 0;
}
.gutter2 {
	margin:20px 0;
}
.navbar-inverse .navbar-brand {
	color: #fff;
}
.navbar-inverse .navbar-brand img {
	width: 85px;
}
.navbar-brand {
	float: left;
	line-height: 20px;
	padding: 5px 15px;
}
.skin-chooser-wrap a{
	background-color: #34495e;
	box-shadow: 0 0 5px #2c3e50;
	height: 34px;
	left: 0;
	padding: 0px 10px;
	position: fixed;
	top: 140px;
	transition: all 0.2s ease 0s;
	width: 30px;
	z-index: 8888;
}
.skin-chooser-wrap i {
	font-size:32px;
	color:#fff;
	
}

#sidebar {
	bottom: 0;
	content: "";
	left: 0;
	position: absolute;
	top: 50px;
	width: 360px;
	
	
}
#content {background:#fff;border-left:1px solid #ddd;}
.old_content {
	margin-left: 180px;
	transition: margin 0.1s ease-in-out 0s;
}
.new_content {
	margin-left: 370px;
	transition: margin 0.1s ease-in-out 0s;
}
.progress {
    background-color: #f5f5f5;
    border-radius: 0px;
    box-shadow: inherit;
    height: 7px;
    margin: 4px 0px;
    overflow: hidden;
}
.progress_bar {margin:10px;text-align:left;font-size:12px;}