<div class="col-lg-9 col-xs-12 mt-3">
    <div class="table-responsive">
      <table class="col-12 table table-striped table-borderless">
        <thead class="thead-light">
          <tr>
            <th >ORDER ID</th>
            <th>OUTLET NAME</th>
            <th>ORDER VALUE</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td class="align-middle"></td>           
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <a (click)="clickMe()">Click me</a>
  <!-- <input [(ngModel)]="searchText" placeholder="search text goes here"> -->
  <!-- <ul>
    <li *ngFor="let c of articles | filter">
      {{c}}
    </li>
  </ul> -->
