.loader {
    margin: 50px 600px;
    width: 60px;
    height: 60px;
    position: relative;
  }
  .loader .loader-child {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
  }
  .loader .loader-child:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 15%;
    height: 15%;
    background-color: #5c0632;
    border-radius: 100%;
    -webkit-animation: loaderBounceDelay 1.2s infinite ease-in-out both;
            animation: loaderBounceDelay 1.2s infinite ease-in-out both;
  }
  .loader .loader2 {
    
    -webkit-transform: rotate(30deg);
        -ms-transform: rotate(30deg);
            transform: rotate(30deg); }
  .loader .loader3 {
    -webkit-transform: rotate(60deg);
        -ms-transform: rotate(60deg);
            transform: rotate(60deg); }
  .loader .loader4 {
    -webkit-transform: rotate(90deg);
        -ms-transform: rotate(90deg);
            transform: rotate(90deg); }
  .loader .loader5 {
    -webkit-transform: rotate(120deg);
        -ms-transform: rotate(120deg);
            transform: rotate(120deg); }
  .loader .loader6 {
    -webkit-transform: rotate(150deg);
        -ms-transform: rotate(150deg);
            transform: rotate(150deg); }
  .loader .loader7 {
    -webkit-transform: rotate(180deg);
        -ms-transform: rotate(180deg);
            transform: rotate(180deg); }
  .loader .loader8 {
    -webkit-transform: rotate(210deg);
        -ms-transform: rotate(210deg);
            transform: rotate(210deg); }
  .loader .loader9 {
    -webkit-transform: rotate(240deg);
        -ms-transform: rotate(240deg);
            transform: rotate(240deg); }
  .loader .loader10 {
    -webkit-transform: rotate(270deg);
        -ms-transform: rotate(270deg);
            transform: rotate(270deg); }
  .loader .loader11 {
    -webkit-transform: rotate(300deg);
        -ms-transform: rotate(300deg);
            transform: rotate(300deg); }
  .loader .loader12 {
    -webkit-transform: rotate(330deg);
        -ms-transform: rotate(330deg);
            transform: rotate(330deg); }
  .loader .loader2:before {
    -webkit-animation-delay: -1.1s;
            animation-delay: -1.1s; }
  .loader .loader3:before {
    -webkit-animation-delay: -1s;
            animation-delay: -1s; }
  .loader .loader4:before {
    -webkit-animation-delay: -0.9s;
            animation-delay: -0.9s; }
  .loader .loader5:before {
    -webkit-animation-delay: -0.8s;
            animation-delay: -0.8s; }
  .loader .loader6:before {
    -webkit-animation-delay: -0.7s;
            animation-delay: -0.7s; }
  .loader .loader7:before {
    -webkit-animation-delay: -0.6s;
            animation-delay: -0.6s; }
  .loader .loader8:before {
    -webkit-animation-delay: -0.5s;
            animation-delay: -0.5s; }
  .loader .loader9:before {
    -webkit-animation-delay: -0.4s;
            animation-delay: -0.4s; }
  .loader .loader10:before {
    -webkit-animation-delay: -0.3s;
            animation-delay: -0.3s; }
  .loader .loader11:before {
    -webkit-animation-delay: -0.2s;
            animation-delay: -0.2s; }
  .loader .loader12:before {
    -webkit-animation-delay: -0.1s;
            animation-delay: -0.1s; }
  
  @-webkit-keyframes loaderBounceDelay {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
              transform: scale(0);
    } 40% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }
  
  @keyframes loaderBounceDelay {
    0%, 80%, 100% {
      -webkit-transform: scale(0);
              transform: scale(0);
    } 40% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
  }