<div class="wrapper">
  <div class="container d-flex flex-column">
    <header class="text-white">
      <div class="login_header">TAFEL</div>
    </header>
    <section class="d-flex align-items-center">
      <div class="text-white w-50">
        <h3 class="bow__subtitle">Long Queues?</h3>
        <h1 class="bow__title display-3 font-weight-bold">Get Your TAFEL Ditch the Queue</h1>
      </div>
      <form class="bg-white p-5 ml-auto text-black">
        <p class="text-center w-100 mx-auto bow_login_form_title bow_forgot_title">
          Enter your email and <br />we send you a password reset link.
        </p>
        <div class="form-group mt-4">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
  </div>
 
  
  <button type="submit" class="btn-danger btn d-block btn-block mt-4 bow_button_styles" [routerLink]="['/dashboard']">Send Request <i class="fa fa-arrow-right ml-2" aria-hidden="true"></i></button>

       
      </form>
    </section>
    <footer class="text-white border-top font-weight-bold">
      <div> © Copyright 2000-2018 TAFEL. All rights reserved.</div>
    </footer>

  </div>
</div>
