page-rejectitem {
    .order_item_veg{
        width:20px;
        height:20px;
        display: inline;
    }

    .cod-left {
        margin-left:40px;
    }

    .padding_85{
        padding-right: 100px;
    }

    .small_border{
        border: 1px solid grey;
    }
}
