<div class="wrapper bow_section_page_login_bg">
  <div class="container d-flex flex-column">
    <header class="text-white">
      <div class="login_header">TAFEL</div>
    </header>
    <section class="d-flex align-items-center bow_align_items_end">
      <div class="text-white w-50 bow_title_hide_1">
        <h3 class="bow__subtitle">Long Queues?</h3>
        <h1 class="bow__title display-3 font-weight-bold">Get Your TAFEL Ditch the Queue</h1>
      </div>

      <form class="bg-white bow_padding_3rem ml-auto text-black bow_login_form" [formGroup]="loginData" (ngSubmit)="submitLogin()">
          
        <p class="text-center w-100 mx-auto bow_login_form_title bow_login_form_title_mobile">
          Welcome back! Please login to your account.
        </p>
        
        <div class="mt-4">
          <!-- <label for="exampleInputEmail1" class="bow_user_password bow_login_form_username_mobile">Username</label> -->
          <div class="mb-3">
              <mat-form-field appearance="legacy" style="width:100%;">
                  <mat-label>Username</mat-label>
                  <input type="text" matInput formControlName="username" [(ngModel)]="username" placeholder="Username">
                  <mat-icon matSuffix><i class="fa fa-user" aria-hidden="true"></i></mat-icon>
                  <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field>
            <!-- <input type="text" class="form-control" formControlName="username" [(ngModel)]="username"
            placeholder="Username"> -->
            <!-- <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2"><i class="fa fa-user" aria-hidden="true"></i></span>
            </div> -->
          </div>
        </div>
        <div class="mt-4">
          <!-- <label for="exampleInputEmail1" class="bow_user_password bow_login_form_username_mobile">Password</label> -->
          <div class="mb-3">
              <mat-form-field appearance="legacy" style="width:100%;">
                  <mat-label>Password</mat-label>
                  <input type="text" matInput formControlName="password" [(ngModel)]="password"
                  placeholder="Password">
                  <mat-icon matSuffix><i class="fa fa-eye-slash" aria-hidden="true"></i></mat-icon>
                  <!-- <mat-hint>Hint</mat-hint> -->
                </mat-form-field>
            <!-- <input type="password" class="form-control" formControlName="password" [(ngModel)]="password"
            placeholder="Password">
            <div class="input-group-append">
              <span class="input-group-text" id="basic-addon2"><i class="fa fa-eye-slash" aria-hidden="true"></i></span>
            </div> -->
          </div>
        </div>
        
        <!-- <div class="form-group form-check">
          <input type="checkbox" class="form-check-input" id="exampleCheck1">
          <label class="form-check-label" for="exampleCheck1"> Remeber me</label>
          <a style="float:right" [routerLink]="['/forgotPassword']">Forgot Password</a>
        </div> -->
        <div *ngIf="!loadingSpinner" class="sk-circle">
          <div class="sk-circle1 sk-child"></div>
          <div class="sk-circle2 sk-child"></div>
          <div class="sk-circle3 sk-child"></div>
          <div class="sk-circle4 sk-child"></div>
          <div class="sk-circle5 sk-child"></div>
          <div class="sk-circle6 sk-child"></div>
          <div class="sk-circle7 sk-child"></div>
          <div class="sk-circle8 sk-child"></div>
          <div class="sk-circle9 sk-child"></div>
          <div class="sk-circle10 sk-child"></div>
          <div class="sk-circle11 sk-child"></div>
          <div class="sk-circle12 sk-child"></div>
        </div>
        <button *ngIf="loadingSpinner" type="submit" class="btn-danger btn d-block btn-block mt-4 bow_button_styles">Login <i class="fa fa-arrow-right ml-2" aria-hidden="true"></i></button>
      </form>
    </section>
    <footer class="text-white border-top bow_footer_Styles">
      <div>© 2019-TAFEL. All rights reserved.</div>
    </footer>
  </div>
</div>
