/* Webfont: NSMFoodie-Regular */@font-face {
    font-family: 'NSMFoodie';
    src: url('NSM Foodie.eot'); /* IE9 Compat Modes */
    src: url('NSM Foodie.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
         url('NSM Foodie.woff') format('woff'), /* Modern Browsers */
         url('NSM Foodie.ttf') format('truetype'), /* Safari, Android, iOS */
         url('NSM Foodie.svg#NSMFoodie-Regular') format('svg'); /* Legacy iOS */
    font-style: normal;
    font-weight: normal;
    text-rendering: optimizeLegibility;
}

