page-reports {
    .toolbar-background-md {
		background: #fff;
   }
   .legend__pending {
       background: #fc9e4f;
       width:50px;
       height:8px;
       display: inline-block;
   }
   .legend__completed {
    background: #11BA91;
    width:50px;
    height:8px;
    display: inline-block;
}
table {
    font-family: arial, sans-serif;
    width: 100%;
  }

td,th {
    border: 1px solid black;
    text-align: left;
    padding: 8px;
  }
.tableinside { 
    overflow-x:scroll; 
    margin-top:10%; 
}
tr:nth-child(1) {
    background-color: #696767 !important;
    font-weight: bold;
  }
//   tr:nth-child(odd) {
//     background-color: #dddddd;
//   }
table tr:nth-child(2) th:first-child {
    background-color: #008000;
}
table tr:nth-child(3) th:first-child {
    background:#32CD32
}
table tr:nth-child(4) th:first-child {
    background-color: #00FF7F;
}
table tr:nth-child(5) th:first-child {
    background-color: #3CB371;
}
table tr:nth-child(6) th:first-child {
    background-color: #9ACD32;
}
table tr:nth-child(7) th:first-child {
    background-color: #8FBC8F; 
}
table tr:nth-child(8) th:first-child {
    background-color: #ADD8E6;
}
table tr:nth-child(9) th:first-child {
    background-color: #F08080;
}
.legend__rejected {
    background: #ec6767;
    width:50px;
    height:8px;
    display: inline-block;
}
   .legend__lable__styles {
    color: #34495e;
    font-weight: bold;
    padding-left:10px;
    font-size:12px;
    display: inline-block;
}
    .profile_item_text{
        width: 95%;
        margin-left: 2.5%;
        margin-top: 7px;
        background-color: #f1f1f1;
        font-size: 14px;
        //padding:5px;
        border-radius: 20px;
        border:none;

        .item-inner{
            border-bottom: 0px !important;
            box-shadow: none !important;
        }
        
        .input-group{
            padding: 0px;
        }
        
        .input-group input{
            
            border-bottom: 0px;
            background-color: #f1f1f1;
            font-size: 14.5px;
        }
        .input-group span {
           display: none;
        }

        .label-md{
            margin:0px;
        }
    }
    .profile_item_text.input-has-focus{
        background-color: #e7eff1;
    }

    .error{
        margin-left: 75px;
        font-size: 13px;
        margin-top: 5px;
        color: #a21b1b;
    }

    .toast-style{
        padding-left: 20px;
    }
    .endOftheReport{
        font-family: arial, sans-serif;
    width: 90%;
    margin-left: 5%;
    margin-top: 2%;
    background-color: #ffffff;

    
    }
    .headerCss{
        background-color: #f9f9f9 !important;
        font-size: 14px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.14;
        letter-spacing: normal;
        text-align: left;
        color: #1a1a1a;
    }
    .btn__accept {
        color: #fff;
        border-radius:0px;
        height: 2.6rem;
        margin-left: 20px;
        border-radius: 5px;
        background-color: #5c0632;

}
.start_endTime{
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.14;
    letter-spacing: normal;
    text-align: left;
    color: #1a1a1a;
}
.outletNameCss{
    font-size: 16px !important;
    color: #ce1212;
}

}
