<aside role="aside">
  <section>
    <div class="freshBox_NavItems">
      <div class="freshBox_LogoDiv">
        <a class="freshBox_Logo">
          <img src="../../assets/greater_good_box_20.png" />
        </a>
      </div>
      <div class="freshBox_NavItems--Content">
        <div class="freshBox_NavItems--Name" routerLink="/orders" routerLinkActive="active" 
        [routerLinkActiveOptions]="{ exact: true }">
          <p>Orders</p>
      </div>
      </div>
      <div class="freshBox_NavItems--Content">
        <div class="freshBox_NavItems--Name" routerLink="/products" routerLinkActive="active">
          <p>Products</p>
        </div>
      </div>
      <div class="freshBox_NavItems--Content">
        <div class="freshBox_NavItems--Name" routerLink="/inventory" routerLinkActive="active">
          <p>Inventory</p>
        </div>
      </div>
      <div class="freshBox_NavItems--Content">
        <div class="freshBox_NavItems--Name" routerLink="/pickup-location" routerLinkActive="active">
          <p>PickUp Location</p>
        </div>
      </div>
      <!-- <div class="freshBox_NavItems--Content">
        <a class="freshBox_NavItems--Name" routerLink="/configurations">
          <p>Configuration</p>
        </a>
      </div> -->
    </div>
  </section>
</aside>
