<ion-header>
      <ion-navbar>
          <ion-buttons left>
             <button ion-button icon-only (click)="BackButtonClick()">
                <ion-icon name="arrow-back"></ion-icon>
             </button>
          </ion-buttons>
          <ion-title class="order__Id">{{itemDetails.name}}</ion-title>
       </ion-navbar>
    
    </ion-header>
    
    
    <ion-content>
      <div *ngIf="!showLoader">
         
        
        <ion-item class="background__color">
         <ion-label class="order__Details">Availability</ion-label>
         <ion-toggle [(ngModel)]="availability"></ion-toggle>
        </ion-item>
        <ion-item>
             <ion-label class="item__Details">Veg / Non Veg</ion-label>
             <ion-toggle [(ngModel)]="availabilityVeg"></ion-toggle>
          </ion-item>
        <ion-item>
         <ion-label>Weeks</ion-label>
         <ion-select [(ngModel)]="weeks" multiple="true">
         <ion-option>Sun</ion-option>
         <ion-option>Mon</ion-option>
         <ion-option>Tue</ion-option>
         <ion-option>Wed</ion-option>
         <ion-option>Thu</ion-option>
         <ion-option>Fri</ion-option>
         <ion-option>Sat</ion-option>
         </ion-select>
        </ion-item>
        <ion-item>
         <ion-label>Start Time </ion-label>
         <ion-datetime displayFormat="HH:mm" [(ngModel)]="startTime"></ion-datetime>
        </ion-item>
        <ion-item>
         <ion-label>End Time </ion-label>
         <ion-datetime displayFormat="HH:mm" [(ngModel)]="endTime"></ion-datetime>
        </ion-item>
        <ion-item>
             <ion-label>Price</ion-label>
             <ion-input type="text" [(ngModel)]="price"></ion-input>
            </ion-item>
      
            <ion-item no-lines>
                  <div class="displayFlex">
                     <span  style="color: #999;">Discount (%)</span>
                     <span class="" style="color:#e46d47; font-weight:bold;padding-right: 10px;">{{itemDiscount}}</span>
                  </div>
            </ion-item>
            
                <ion-item>
                    
                  <ion-range min="1" max="50" pin="true" [(ngModel)]="itemDiscount" color="secondary">
                    <ion-icon range-left small name="eye"></ion-icon>
                    <ion-icon range-right name="eye"></ion-icon>
                    
                  </ion-range>
                </ion-item>
        
       <ion-item>
          <ion-label>Description</ion-label>
          <ion-input type="text" value="" [(ngModel)]="description"></ion-input>
       </ion-item>
       </div>
       <page-globalloader *ngIf="showLoader"></page-globalloader>
    </ion-content>
    <ion-footer class="footer__styles">
          <ion-grid>
                <ion-row>
                 
                  <ion-col style="text-align: center;" col-12 (click)=updateItem()><span  class="print__callDiner">
                      <ion-icon name="bookmark"></ion-icon>
                      Update
                    </span></ion-col>
                </ion-row>
                
               </ion-grid>
          
        </ion-footer>
    