<header>
  <nav class="navbar navbar-expand-lg NSM_Header">
    <div class="container NSM_Header--Content">
      <a
        class="navbar-brand navbar_Logo"
        href="https://www.newseasonsmarket.com/"
        target="_blank"
      >
        <img src="../../assets/new-seasons-logo.png" width="200px" />
        <h3>
          <a type="text" class="newseasons_Link"> NewSeasonsMarket.com</a>
        </h3>
      </a>
      <!-- <div class="vertical_Line"></div> -->
      <a class="navbar_FoodOrdering" routerLink="/home">
        <div class="header--ImageBlock">
          <img src="./../../assets/greater_good_box_20.png" alt="nsmImage" />
        </div>
        <div>
          <h2 class="header_Heading">THE GREATER GOOD BOX</h2>
          <p class="header_SubHeading">Touch-Free Pick Up</p>
        </div>
      </a>
      <!-- <div class="vertical_Line"></div> -->
      <span class="queries_Block">
        <h2>
          Questions?
        </h2>
        <h3>
          <p href="" type="mail" class="queries_Block--Email">
            thegreatergoodbox@newseasonsmarket.com
          </p>
        </h3>
      </span>
    </div>
  </nav>
</header>
