
<div class="loader">
    <div class="loader1 loader-child"></div>
    <div class="loader2 loader-child"></div>
    <div class="loader3 loader-child"></div>
    <div class="loader4 loader-child"></div>
    <div class="loader5 loader-child"></div>
    <div class="loader6 loader-child"></div>
    <div class="loader7 loader-child"></div>
    <div class="loader8 loader-child"></div>
    <div class="loader9 loader-child"></div>
    <div class="loader10 loader-child"></div>
    <div class="loader11 loader-child"></div>
    <div class="loader12 loader-child"></div>
  </div>