.main_Content {
  padding: 12em 5em 0em 15em;
}
.table.product_table {
  margin-top: 20px;
}
.long_th {
  width: 13em;
}
// tbody {
//   tr {
//     .long_th--text {
//       width: 20em !important;
//     }
//   }
// }
.btn-success {
  color: white;
  font-family: "Brandon Grotesque Regular";
  font-size: 1.5em;
  background-color: #41742c !important;
  border-color: #41742c !important;
}
button#idEditButton {
  margin-right: 5px;
  padding: 5px 10px;
  min-width: 7em;
  background-color: #41742c !important;
  border-color: #41742c !important;
}
button#idDeleteButton {
  padding: 5px 10px;
  min-width: 7em;
  color: black;
  background: #cdda00;
  border-color: #cdda00;
}
.new_box_btn {
  float: right;
  margin-bottom: 2em;
}
// @import '../../styles/base/typography';
header {
  position: fixed;
  top: 0;
  width: 100%;
  max-width: 1600px;
  border-bottom: 1px solid #41742c;
}
._Header {
  padding: 5px;
  display: flex;
  align-items: center;
  margin: 0 auto;
  background-color: #ffffff;
}
._Header--Content {
  padding: 0;
  display: flex;
  align-items: center;
  align-self: center;
  margin: 0 auto;
  a {
    // margin-right: 10em;
  }
}
.navbar_FoodOrdering {
  text-align: center;
  // padding: 3em 0em;
  // margin-right: 10em;
  .header_Heading {
    color: #41742c;
    font-family: "NSMFoodie";
    font-size: 4em;
    margin: 0;
    padding: 0;
  }
  .header_SubHeading {
    color: #41742c;
    font-family: "NSMFoodie";
    font-size: 2em;
    margin: 0;
    padding: 0;
  }
  .HowItWorks {
    .HowItWorks_Button {
      color: black;
      background: #cdda00;
      border: 0;
      padding: 0.5em 2em;
      font-size: 1.2em;
      border-radius: 0.35em;
      font-weight: 600;
    }
  }
}
.queries_Block {
  color: black;
  text-align: right;
  font-family: "Brandon Grotesque Regular";
  h2 {
    margin: 0;
    font-weight: 500;
  }
  h3 {
    color: black !important;
    margin: 0;
    font-weight: 500;
    a {
      margin: 0;
      color: black;
    }
  }
}
.vertical_Line {
  height: 8em;
  padding: 0;
  border: 0.49px solid #5a5a5a;
}
.table_Heading {
  font-family: "NSMFoodie";
  font-size: 2em;
  margin-bottom: 1em;
  color: #41742c;
}
.spinnerText_Color {
  font-size: 20px;
  color: white;
}
table {
  width: 100%;
}

tr {
  width: 100%;
  display: table;
  table-layout: fixed;
}

th,
td {
  padding: 5px;
  text-align: left;
}
.table .thead-light th {
  font-weight: 500;
  font-family: "Brandon Grotesque Regular";
  font-size: 1.5em;
  color: black;
  padding: 0.6em 0.5em;
  width: 10em;
}
table {
  tbody {
    height: calc(100vh - 333px);
    display: block;
    width: 100%;
    overflow-y: auto;
  }
  tr {
    td {
      border: 1px solid #dee2e6;
      word-break: break-word;
      padding: 0.6em 1em;
    }
  }
}
