<div class="main">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 bg_dark">
        <div class="wrap_content px-5">
          <!-- <h3>{{masterData.appInfo.supportText}}</h3> -->
          <img [src]=masterData.appInfo.appLogo alt="" class="site_logo my-5">
          <!-- <h5 class="text-gold">{{masterData.appTitle}}</h5> -->
          <h3>{{masterData.appInfo.appTitle}}</h3>
          <p>{{masterData.appInfo.supportParagraph1}}</p>
        </div>
      </div>

      <div class="col-md-4 px-0 bg_dark_black d-flex align-items-center flex-column">
        <h3 class="text-gray mt-5 mb-5">{{masterData.appInfo.supportText}}</h3>
        <div class="w-75 mx-auto mt-5 pt-5">
          <form class="mt-5 pt-5" [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword(forgotPasswordForm.value)">
            <p class="text-gold">{{errors}}</p>
            <div class="form-group">
              <label for="email" class="text-gray">User Name</label>
              <input type="email" class="form-control cst_form_control" id="email" aria-describedby="emailHelp"
                formControlName="user_email" placeholder="User Name" required>
              <!-- <show-errors [control]="email"></show-errors> -->
            </div>
            <div class="d-flex justify-content-between align-items-center">
              <a class="text-gold" routerLink="/">Go Back</a>
              <button type="submit" class="btn theme_button">Send me link</button>


            </div>

            <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
          </form>
        </div>
      </div>
    </div>
  </div>


</div>
