<div size="a4" class="card" id="letter">
  <div class="row">
    <div class="card-body px-5">
      <div class="col-12 text-center">
        <h4 class="my-5">Employment offer letter</h4>
      </div>
      <div class="row px-3">
        <div class="col-6">
          <p class="m-0">Date: 21-12-2019</p>
          <address class="m-0">
            <p class="m-0">Company Address one,</p>
            <p class="m-0">City, State,</p>
            <p class="m-0">Country</p>
            <p class="m-0">Email: hr@plusmax.com</p>
          </address>
        </div>
        <div class="col-6 text-right">
          <img src="assets/images/plusmax-tracker_icons_plus-max-logo.png" alt="" class="w-50">
        </div>
      </div>
      <div class="col-12">
        <p class="my-5"></p>
        <p class="my-2">Dear, <span contenteditable="true" placeholder="Name">Upendra</span></p>
        <p class="my-4">Good Day</p>
        <p class="mb-3">
          Lorem ipsum dolor <span placeholder="Name" contenteditable="true">Upendra</span> sit amet consectetur
          adipisicing elit. Aliquam
          saepe maxime consequuntur est repellendus
          commodi molestias iusto quae corporis aspernatur consequatur et laborum maiores reiciendis vel, labore
          beatae?
          Laudantium, eveniet.
        </p>
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Nostrum, beatae at quam repellat qui dolorum
          doloribus mollitia atque aliquid, voluptatibus fuga, rerum quas eligendi fugiat. Dolorem ex aut illo eaque.
        </p>
        <p class="my-5">
          <strong>
            Lorem, ipsum dolor sit amet consectetur adipisicing elit. Fuga
          </strong>
        </p>
        <p class="mb-3">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Rem quas doloribus eum alias minus perferendis
          similique odio exercitationem culpa voluptatem nisi blanditiis velit laudantium recusandae reprehenderit,
          repellendus nobis quod sapiente?
        </p>
        <p>
          Thank you, Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore, accusamus. Iure quis maxime
          consequatur eum
        </p>
        <p class="my-5"></p>
      </div>
    </div>
  </div>
</div>
