<header id="main-header">
        <div class="col-12 d-flex justify-content-between align-items-center" id="logo">
           <h4 class="relief"><img src="./assets/images/pro_logo.png" alt="" class="sub-logo"> Employee Management System</h4>
           <ul class="list-inline">
                <li class="list-inline-item"><i class="fa fa-user"></i> <i> Hello "Anjaneyulu" Welcome</i></li>
                <li class="list-inline-item"><i class="fa fa-table"></i> Settings</li>
                <li class="list-inline-item"><i class="fa fa-th-large"></i> Logout</li>
              </ul>
           
        </div>

</header>