<div class="row">
  <div class="col-8 d-flex justify-content-between m-auto mb-3">
    <h4 class="text-capitalize text-gold">{{pagetitle}}</h4>
    <div>
      <ul class="list-inline">
        <li class="list-inline-item"><a [routerLink]="['/dashboard/profile/view']" class="text-gold">Back to Profile</a>
        </li>
      </ul>
    </div>
  </div>
  <div class="col-12">
    <hr>
  </div>
  <div class="col-8 d-flex justify-content-between m-auto">
    <div class="w-75 mx-auto mb-3">
      <form [formGroup]="updatePasswordForm" (ngSubmit)="updatePassword(updatePasswordForm.value)">
        <p class="text-gold">{{errors}}</p>
        <div class="form-group">
          <label for="user_email" class="text-gray">Email</label>
          <input type="email" class="form-control cst_form_control" id="user_email" aria-describedby="emailHelp"
            formControlName="user_email" placeholder="Email" required>
        </div>
        <div class="form-group">
          <label for="user_old_password" class="text-gray">Old password</label>
          <input type="password" class="form-control cst_form_control" id="user_old_password" aria-describedby="emailHelp"
            formControlName="user_old_password" placeholder="Old password" required>
        </div>
        <div class="form-group">
          <label for="user_password" class="text-gray">New password</label>
          <input type="password" class="form-control cst_form_control" id="user_password" aria-describedby="emailHelp"
            formControlName="user_password" placeholder="New password" required>
        </div>
        <div class="d-flex justify-content-between align-items-center">
          <button type="submit" class="btn  theme_button">Update Password</button>
        </div>
      </form>
    </div>
  </div>
</div>
