body {
	/* background: #666;
	 */
}
.relief {
	
	color: #e0eff2;
	
	text-shadow: -4px 3px 0 #ee2e24, -14px 7px 0 #0a0e27;
	}
	.border-color {
		border-color: #007bff !important;
	}
	.text-color, .bg-color {
		background-color: #343a40!important;
		color: #fff;
	}
	.text-title-color {
    color: #007bff !important;
	}
	.btn-bg-color {
		color: #fff;
    background-color: #007bff;
    border-color: #007bff;
	}

